@font-face {
  font-family: "FuturaStd";
  font-weight: 400;
  src: url("../fonts/FuturaStd-Light.woff2") format("woff2"),
       url("../fonts/FuturaStd-Light.woff") format("woff");
}

@font-face {
  font-family: "FuturaStd";
  font-weight: 500;
  src: url("../fonts/FuturaStd-Medium.woff2") format("woff2"),
       url("../fonts/FuturaStd-Medium.woff") format("woff");
}

@font-face {
  font-family: "FuturaStd";
  font-weight: 700;
  src: url("../fonts/FuturaStd-Heavy.woff2") format("woff2"),
       url("../fonts/FuturaStd-Heavy.woff") format("woff");
}